body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background: url("./images/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wheelDiv{
    opacity: 0;
    transition: 2s all;
    width: 90vw;
    height: 380px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    display: inline;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marker{
    width: 30px;
    z-index: 1;
    margin-bottom: -40px;
}

.wheel{
    width: 350px;  
}

.button {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 300px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 1s;
}

#modal {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.404);
}

#box {
    width: 30vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(to right top, #28262f, #282535, #29233a, #292240, #292045, #2b204d, #2c1f56, #2e1e5e, #321f6c, #361f7b, #3a1f89, #3e1e98);
    box-shadow: 5px 3px 30px rgba(215, 155, 255, 0.5);
    font-size: 30px;
    text-align: center;
}

#TryAgain{
    border-radius: 10px;
    margin: 0;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.596);
}

#result{
    margin: 0;
    text-shadow: 1px 1px 15px white;
}

@media only screen and (max-width: 1000px) {
    .wheelDiv{
        width: 90vw;
        height: 60vh;
        bottom: 0;
        flex-direction: column;
        justify-content: space-between;

    }
    
    .marker{
        position: absolute;
        top: -50px;
        width: 5%;
    }
    
    .wheel{
        width: 350px; 
        height: 350px; 
    }
    
    .button {
        width: 300px;
        cursor: pointer;
        transition: all 1s;
        position: initial;
    }
    
    
    #box {
        width: 70vw;
        height: 30vh;
        font-size: 30px;
    }
}

@media only screen and (max-width: 870px) {
    .wheelDiv{
        width: 95vw;
        height: 55vh;
        bottom: 2vw;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .marker{
        position: absolute;
        top: -5vw;
        width: 5vw;
    }
    
    .wheel{
       width: 40vw;
       height: 40vw;
    }
    
    .button {
        width: 40vw;
        cursor: pointer;
        position: initial;
    }
    
    
    #box {
        width: 70vw;
        height: 30vh;
        font-size: 30px;
    }
    
    #TryAgain{
        font-size: 3vw;
    }

    
    #result{
        font-size: 4.5vw;
    }
}



@media only screen and (max-width: 600px) {
    body{
        background-size: cover;
    }

    .wheelDiv{
        width: 95vw;
        height: 55vh;
        bottom: 5vw;
        flex-direction: column;
        justify-content: space-between;

    }
    
    .marker{
        position: absolute;
        top: -8vw;
        width: 8vw;
    }
    
    .wheel{
       width: 70vw;
       height: 70vw;
    }
    
    .button {
        width: 50vw;
        cursor: pointer;
        position: initial;
    }
    
    
    #box {
        width: 70vw;
        height: 30vh;
        font-size: 30px;
    }
    
    #TryAgain{
        font-size: 3vw;
    }

    
    #result{
        font-size: 4.5vw;
    }

}


@media only screen and (max-width: 440px) {
    .wheelDiv{
        width: 95vw;
        height: 55vh;
        bottom: 5vw;
        flex-direction: column;
        justify-content: space-evenly;

    }
    
    .marker{
        position: absolute;
        top: -10vw;
        width: 9vw;
    }
    
    .wheel{
       width: 90vw;
       height: 90vw;
    }
    
    .button {
        width: 60vw;
    }
    
    
    #box {
        width: 70vw;
        height: 20vh;
    }
    
    #TryAgain{
        font-size: 6vw;
    }

    
    #result{
        font-size: 7vw;
    }

}